{% extends 'base.html' %}

{% block content %}

    <div class="card mb-3">
        <div class="card-header">Do you confirm removing this task?</div>

        <div class="card-body">
            <h5 class="card-title">{{ task.title }}</h5>
            <p class="card-text"> {{ task.description }}</p>
            <br>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-danger" type="submit">Remove</button>
            </form>
        </div>
    </div>
{% endblock content %}